[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytesseract = "*"
selenium = "==4.9.0"
webdriver-manager = "*"
pillow = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.10"
